@keyframes ball{
	0%{ transform: translateY(-800px); }
	50%{ transform: translateY(0px); }
	100%{ transform: translateY(-800px); }
}
.con{
	display:flex;
}	
.ball{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 400px;
	margin-left: 50px;
}
.b1{
	background-color:yellow; 
	animation:ball 2s ease-in infinite; 
}
.b2{
	background-color: blue;
	animation:ball 2.2s ease-in infinite; 
}
.b3{
	background-color: green;
	animation:ball 2.4s ease-in infinite; 
}
.b4{
	background-color:red;
	animation:ball 2.6s ease-in infinite; 
}
.b5{
	background-color: skyblue;
	animation:ball 2.8s ease-in infinite; 
}
